$primary: #CEB6CF;
$secondary: #F0E4ED;
$enable-cssgrid: true;




// Global


html.sr .load-hidden {
    visibility: hidden;
}

html {
    overflow-x: hidden;
}

// Text

@import url('https://fonts.googleapis.com/css2?family=Fahkwang:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Pirata+One&display=swap');

.pirata {
    font-family: 'Pirata One', cursive;
}

.baskerville {
    font-family: 'Libre Baskerville', serif;
}

.fahkwang {
    font-family: 'Fahkwang', sans-serif;
}

h1 {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

// Backgrounds

.field-bg {
    background: url("../images/field-bg.png");
    background-size: cover;
    background-position: center;
}

.path-bg {
    background-image: url('../images/path-bg.png');
    background-size: cover;
    background-position: center;
    background-blend-mode: lighten;
}

.cork-bg {
    background-image: url('../images/cork-bg.png');
    background-size: cover;
    background-position: center;
}

.tan-bg {
    background-color: #F3F7EE;
}

.green-bg {
    background-color: #9AE17B;
}

// Header

.hero-message {
    width: 90%;
}

// Overview

.overview-content {
    align-self: center;
    padding: 50px;
}

// Interactions


.interaction {
    align-self: start;
    margin-top: 50px;
}

// Team

.preston,
.anna {
    max-width: 250px;
    max-height: 250px;
}

// Roadmap

h2.headline {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: 20px 0;
    grid-gap: 20px;
}

h2.headline:after,
h2.headline:before {
    content: " ";
    display: block;
    border-bottom: 1px solid #111;
}

.card {
    background-image: url("../images/pin.png");
    background-color: #F6F7EE;
    background-position: center top;
    background-repeat: no-repeat;
    padding: 40px 0 0 0;
    background-position-y: 10px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    cursor: cell;
}

.card:hover,
.card:active,
.card:focus {
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.65) !important;
}

// Prototype

.prototype {
    background-image: url("../images/prototype.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    min-width: 350px;
    min-height: 699px;
    display: block;
}

.prototype:hover,
.prototype:active {
    background-image: url("../images/prototype-hover.png");
    background-position: center;
    background-repeat: no-repeat;
}

// Email Sign-Up

#mc_embed_signup {
    display: flex;
}

#mc_embed_signup_scroll {
    display: flex;
    flex-direction: row;
}

.email-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 5px;
    width: 200px;
    height: 50px;
    color: #293132;
    background-color: #7CCFFF;
    border: 2px solid #FFFFFF !important;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.35);
    border-radius: 30px !important;
    font-family: 'Fahkwang', sans-serif !important;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    margin-left:20px;
}

.email-button:hover, .email-button:focus {
    color: #293132;
    border: 2px solid #555!important;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.35), inset -3px -3px 4px rgba(255, 255, 255, 0.6), inset 3px 3px 4px rgba(255, 255, 255, 0.6);
}

.email-button:active {
    background-color: #293132!important;
    border: 2px solid #000000;
    color: #7CCFFF;
}

.form-control {
    max-width: 315px!important;
    height: 56px;
    background: #FFFFFF;
    border: 1px solid #293132!important;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.084), 0px 2px 3px rgba(0, 0, 0, 0.168);
    border-radius: 10px;
    display: inline-block!important;
    margin-bottom: 10px;
}

.form-control:focus {
    border: 2px solid black!important;
}

// Responsive Elements

.responsive-justify {
    justify-self: left;
    text-align: left;
    align-self: center;
}

// Small Screens

@media only screen and (max-width: 768px) {
    .display-3 {
        font-size: 12vw !important;
    }

    .alternating-container-text {
        grid-row: 1;
    }

    .responsive-justify {
        justify-self: center !important;
        text-align: center;
    }

    .interaction {
        margin-top: 0px;
        padding: 0 25px;
    }

    .overview-content {
        padding: 0 !important;
        margin: 0 !important;
    }

    #mc_embed_signup_scroll {
        flex-direction: column;
        justify-content: center;
    }

}

// XXL Screens

@media only screen and (min-width: 1400px) {
    .display-3 {
        font-size: 5.5vw !important;
    }

}

// Bootstrap Import

@import './bootstrap.scss';